name: post triage issues on Zulip

on:
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch:
    inputs:
      send_zulip_message:
        description: 'Send message to Zulip'
        required: false
        default: false
        type: boolean

jobs:
  post_issues:
    runs-on: ubuntu-latest
    name: Post random issue to zulip for triage
    steps:
    - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-token
      with:
        app-id: ${{ secrets.TOKEN_APP_ID }}
        private-key: ${{ secrets.TOKEN_PRIVATE_KEY }}

    - name: Checkout scripts
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.12'

    - name: Install python packages
      run: |
        python -m pip install --upgrade pip
        pip install PyGithub zulip

    - name: Post issue on Zulip
      run: python post_issue_on_zulip.py "${{ secrets.RANDOM_ISSUE_BOT_ZULIP_TOKEN }}" "${{ steps.app-token.outputs.token }}" "${{ toJSON(github.event_name == 'schedule' || inputs.send_zulip_message) }}"

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@f72ff1a1336129f29bf0166c0fd0ca6cf1bcb38c # v1.2.1
